<div class="row bg-dark">
  <div class="col">
    <div class="navbar navbardark">
      <a class="navbar-brand text-white">DVD MOVIE STORE</a>
    </div>
  </div>
  <div class="col-3 text-white mr-1 text-right">
    <store-cartsummary></store-cartsummary>
  </div>

  <div class="d-grid gap-2 col-3 fixed-bottom m-1">
    <a class="btn btn-secondary" routerLink="/admin">Administration</a>
  </div>

</div>
<div class="row no-gutters">
  <div class="col-3">
    <store-categoryfilter></store-categoryfilter>
  </div>
  <div class="col">
    <store-movies-list></store-movies-list>
    <store-pagination></store-pagination>
  </div>
</div>
