<div class="navbar bg-info mb-1">
  <a class="navbar-brand text-white m-2">DVD MOVIE STORE Admin</a>
</div>

<div class="d-grid gap-2 col-3 fixed-bottom mb-1">
  <a class="btn btn-secondary m-1" routerLink="/store"> Store </a>
</div>

<div class="row g-0">
  <div class="col-3">
    <div class="d-grid gap-2">
      <button
        class="btn btn-outline-info"
        routerLink="/admin"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }"
      >
        Overview
      </button>
      <button
        class="btn btn-outline-info"
        routerLink="/admin/movies"
        routerLinkActive="active"
      >
        Movies
      </button>
      <button
        class="btn btn-outline-info"
        routerLink="/admin/orders"
        routerLinkActive="active"
      >
        Orders
      </button>
    </div>
  </div>
  <div class="col p-2">
    <router-outlet></router-outlet>
  </div>
</div>
