<table class="table m-1">
  <tbody>
    <tr>
      <td>There are {{ movies?.length || 0 }} movies for sale</td>
      <td>
        <div class="d-grid gap-2">
          <button class="btn btn-sm btn-info" routerLink="/admin/movies">
            Manage Movies
          </button>
        </div>
      </td>
    </tr>
    <tr>
      <td>There are {{ orders?.length || 0 }} orders</td>
      <td>
        <div class="d-grid gap-2">
          <button
            class="btn btn-sm btn-info"
            routerLink="/admin/orders"
          >
            Manage Orders
          </button>
        </div>
      </td>
    </tr>
  </tbody>
</table>
